<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form action="/teams" method="post">
    Name: <input type="text" name="name">
    Coach: <input type="text" name="coach">
    PG: <input type="text" name="pg">
    SG: <input type="text" name="sg">
    SF: <input type="text" name="sf">
    PF: <input type="text" name="pf">
    C: <input type="text" name="c">
    <input type="submit" value="Submit">
    </form>
 </body>
</html>


